<link rel="stylesheet" href="/css/index.css">

<% include partials/InfoUserHeader %>

<div class="container-fluid my-3">
	<!-- Mobile menu  -->
	<div class="d-block d-md-none">
		<div class="d-flex d-md-none flex-column justify-content-around align-items-center">

			<a href="/" style="width: 100%;">
				<div style="height: 32vh; width: 100%;" class="border">
					<div class="mainMenuBoxContainer">
						<div class="mainMenuBoxContent">
							<span class="lead">GIOCA</span>
						</div>
					</div>
				</div>
			</a>

			<div style="margin: 2.5vh 0 2.5vh 0;" class="d-md-none"></div>

			<a href="/" style="width: 100%;">
				<div style="height: 32vh; width: 100%;" class="border">
					<div class="mainMenuBoxContainer">
						<div class="mainMenuBoxContent">
							<span class="lead">PERSONAGGI</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>


	<!-- Desktop menu -->
	<div class="d-none d-md-block">
		<div style="margin: 20vh 0 20vh 0;"></div>
		<div class="d-flex flex-row justify-content-around align-items-center">
			<a href="/">
				<div style="height: 50vh; width: 40vw;" class="border">
					<div class="mainMenuBoxContainer">
						<div class="mainMenuBoxContent">
							<span class="display-3">GIOCA</span>
						</div>
					</div>
				</div>
			</a>

			<a href="/">
				<div style="height: 50vh; width: 40vw;" class="border">
					<div class="mainMenuBoxContainer">
						<div class="mainMenuBoxContent">
							<span class="display-3">PERSONAGGI</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
